### Node template

# Editor
.idea
.vscode

# Logs
logs
*.log
*.iml
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
out/
lib/

pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

